include src/*.py
include openapi_client/*.py
include openapi_client/models/*.py
include openapi_client/api/*.py

global-exclude src/examples/*
global-exclude venv/
global-exclude .venv/
global-exclude tests/
global-exclude build/
global-exclude dist/
global-exclude *.egg-info/
global-exclude docs/
global-exclude scripts/
global-exclude .openapi-generator/
global-exclude .mypy_cache/
global-exclude .pytest_cache/
global-exclude *.md
global-exclude *.yml
global-exclude *.ini
global-exclude *.xml
global-exclude *.coverage 